In [2]:

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sklearn.linear_model

In [3]:
data = pd.read_csv('stats_list.csv')

In [4]:
data.head()

,RANK THIS WEEK_x,RANK LAST WEEK_x,PLAYER NAME,ROUNDS_x,%_x,GREENS HIT_x,# HOLES,RELATIVE/PAR,RANK THIS WEEK_y,RANK LAST WEEK_y,...,EVENTS_x,RATING_x,RANK THIS WEEK_y.16,RANK LAST WEEK_y.16,EVENTS_y,RATING_y,RANK THIS WEEK,RANK LAST WEEK,EVENTS,RATING
0,1,1,Jim Furyk,19.0,76.32,261.0,342.0,-0.24,T139,T138,...,3.0,8.4,199.0,197.0,3.0,5.6,T254,T251,3.0,3.2
1,T2,T3,Boo Weekley,14.0,75.00,189.0,252.0,-0.24,5,6,...,1.0,8.7,21.0,19.0,1.0,7.5,T243,T242,1.0,3.7
2,T2,T3,Patrick Cantlay,20.0,75.00,270.0,360.0,-0.32,118,T115,...,5.0,7.5,106.0,108.0,5.0,6.5,T40,T40,5.0,8.2
3,4,5,Corey Conners,40.0,74.03,533.0,720.0,-0.25,184,182,...,5.0,7.2,227.0,220.0,3.0,5.3,T89,T92,5.0,7.1
4,5,2,Harris English,42.0,73.02,552.0,756.0,-0.28,163,T165,...,9.0,6.8,151.0,179.0,8.0,6.1,T104,T95,9.0,6.8