In [11]:
import pandas as pd

In [29]:

dfs = pd.read_html('https://www.pgatour.com/stats/stat.02675.html',header=0)
for df1 in dfs:
    print(df1)

Empty DataFrame
Columns: [Unnamed: 0, It appears your browser may be outdated. For the best website experience, we recommend updating your browser. learn more, Unnamed: 2]
Index: []
    RANK THIS WEEK RANK LAST WEEK        PLAYER NAME  ROUNDS  AVERAGE  \
0                1            NaN     Tyrrell Hatton      16    3.078
1                2              1       Rory McIlroy      24    2.537
2                3              2           Jon Rahm      20    2.222
3                4              8  Bryson DeChambeau      26    1.960
4                5              3      Justin Thomas      28    1.958
..             ...            ...                ...     ...      ...
226            227            224     Martin Trainer      34   -2.736
227            228            225    Satoshi Kodaira      31   -2.785
228            229            226        Michael Kim      14   -3.058
229            230            227       Ryo Ishikawa      14   -3.810
230            231            228      Kevin Stadler      20   -4.709

     TOTAL SG:T  TOTAL SG:T2G  TOTAL SG:P  MEASURED ROUNDS
0        24.623        20.846       3.777                8
1        38.061        35.993       2.068               15
2        42.225        23.309      18.917               19
3        50.952        37.036      13.918               26
4        39.154        35.104       4.052               20
..          ...           ...         ...              ...
226     -73.881       -68.004      -5.876               27
227     -47.339       -30.435     -16.902               17
228     -24.467       -20.716      -3.750                8
229     -22.860       -11.850     -11.010                6
230     -51.803       -34.656     -17.147               11

[231 rows x 9 columns]

In [31]:
df1.head()

,RANK THIS WEEK,RANK LAST WEEK,PLAYER NAME,ROUNDS,AVERAGE,TOTAL SG:T,TOTAL SG:T2G,TOTAL SG:P,MEASURED ROUNDS
0,1,NaN,Tyrrell Hatton,16,3.078,24.623,20.846,3.777,8
1,2,1,Rory McIlroy,24,2.537,38.061,35.993,2.068,15
2,3,2,Jon Rahm,20,2.222,42.225,23.309,18.917,19
3,4,8,Bryson DeChambeau,26,1.960,50.952,37.036,13.918,26
4,5,3,Justin Thomas,28,1.958,39.154,35.104,4.052,20

In [28]:
dfp = pd.read_html('https://www.pgatour.com/stats/stat.02564.html', header=0)
for df2 in dfp:
    print(df2.head())

Empty DataFrame
Columns: [Unnamed: 0, It appears your browser may be outdated. For the best website experience, we recommend updating your browser. learn more, Unnamed: 2]
Index: []
  RANK THIS WEEK RANK LAST WEEK         PLAYER NAME  ROUNDS  AVERAGE  \
0              1              2    Louis Oosthuizen      14    1.360
1              2              1      Denny McCarthy      48    1.347
2              3              3        Patrick Reed      30    1.093
3              4              5            Jon Rahm      20    0.996
4              5              7  Kristoffer Ventura      34    0.959

   TOTAL SG:PUTTING  MEASURED ROUNDS
0             8.160                6
1            48.477               36
2            22.960               21
3            18.917               19
4            17.266               18

In [32]:
df3 = pd.merge(df1, df2, on="PLAYER NAME", how='inner', suffixes=('sg_total', 'sg_putting'))
df3.head()

,RANK THIS WEEKsg_total,RANK LAST WEEKsg_total,PLAYER NAME,ROUNDSsg_total,AVERAGEsg_total,TOTAL SG:T,TOTAL SG:T2G,TOTAL SG:P,MEASURED ROUNDSsg_total,RANK THIS WEEKsg_putting,RANK LAST WEEKsg_putting,ROUNDSsg_putting,AVERAGEsg_putting,TOTAL SG:PUTTING,MEASURED ROUNDSsg_putting
0,1,NaN,Tyrrell Hatton,16,3.078,24.623,20.846,3.777,8,32,NaN,16,0.472,3.777,8
1,2,1,Rory McIlroy,24,2.537,38.061,35.993,2.068,15,92,72,24,0.138,2.068,15
2,3,2,Jon Rahm,20,2.222,42.225,23.309,18.917,19,4,5,20,0.996,18.917,19
3,4,8,Bryson DeChambeau,26,1.960,50.952,37.036,13.918,26,T22,21,26,0.535,13.918,26
4,5,3,Justin Thomas,28,1.958,39.154,35.104,4.052,20,76,77,28,0.203,4.052,20