In [1]:
import requests
import lxml.html as lh
import pandas as pd

In [2]:
url='https://www.pgatour.com/stats/stat.159.html'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [3]:
#Check the length of the first 12 rows
[len(T) for T in tr_elements[:12]]

[3, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9]

In [4]:
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[1]:
    i+=1
    name=t.text_content()
    print('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"RANK THIS WEEK"
2:"RANK LAST WEEK"
3:"PLAYER NAME"
4:"ROUNDS"
5:"DISTANCE"
6:"TOURNAMENT"
7:"ROUND"
8:"HOLE"
9:"COURSE"

In [5]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=9:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [6]:
[len(C) for (title,C) in col]

[439, 439, 439, 439, 439, 439, 439, 439, 439]

In [7]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [8]:
df.to_csv('Longest_Drive.csv', index = False)
print(df,"\n Success")

RANK THIS WEEK  RANK LAST WEEK                      PLAYER NAME  ROUNDS  \
0    RANK THIS WEEK  RANK LAST WEEK                      PLAYER NAME  ROUNDS
1       \n        1               1    \n    Justin Thomas\n              28
2       \n        2               2    \n    Lanto Griffin\n              58
3       \n        3               3         \n    Jon Rahm\n              20
4       \n        4               4    \n    Cameron Champ\n              38
..              ...             ...                              ...     ...
434  \n        T433  \n        T429  \n    Derek Gillespie\n               2
435  \n        T435  \n        T431      \n    David Duval\n               1
436  \n        T435  \n        T431  \n    Edward Figueroa\n               2
437   \n        437             433        \n    Fred Funk\n               2
438   \n        438             434   \n    Dwayne Pearman\n               2

     DISTANCE    TOURNAMENT  ROUND  HOLE  COURSE
0    DISTANCE    TOURNAMENT  ROUND  HOLE  COURSE
1         449    WGC-Mexico      4     2     240
2         429        Sentry      1     7     656
3         415        Sentry      4     7     656
4         413        Sentry      1     7     656
..        ...           ...    ...   ...     ...
434       281   Puerto Rico      1     5     742
435       275  Pebble Beach      1    10       5
436       275   Puerto Rico      2     2     742
437       253       Bermuda      2     2     765
438       243       Bermuda      2    12     765

[439 rows x 9 columns]
 Success