In [10]:
import requests
import lxml.html as lh
import pandas as pd

In [11]:
url='https://www.pgatour.com/stats/stat.02675.html'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [12]:
#Check the length of the first 12 rows
[len(T) for T in tr_elements[:12]]

[3, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9]

In [26]:
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[1]:
    i+=1
    name=t.text_content()
    print('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"RANK THIS WEEK"
2:"RANK LAST WEEK"
3:"PLAYER NAME"
4:"ROUNDS"
5:"AVERAGE"
6:"TOTAL SG:T"
7:"TOTAL SG:T2G"
8:"TOTAL SG:P"
9:"MEASURED ROUNDS"

In [27]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(2,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=9:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [28]:
[len(C) for (title,C) in col]

[231, 231, 231, 231, 231, 231, 231, 231, 231]

In [29]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [30]:
df

,RANK THIS WEEK,RANK LAST WEEK,PLAYER NAME,ROUNDS,AVERAGE,TOTAL SG:T,TOTAL SG:T2G,TOTAL SG:P,MEASURED ROUNDS
0,\n 1,\n,\n Tyrrell Hatton\n,16,3.078,24.623,20.846,3.777,8
1,\n 2,1,\n Rory McIlroy\n,24,2.537,38.061,35.993,2.068,15
2,\n 3,2,\n Jon Rahm\n,20,2.222,42.225,23.309,18.917,19
3,\n 4,8,\n Bryson DeChambeau\n,26,1.960,50.952,37.036,13.918,26
4,\n 5,3,\n Justin Thomas\n,28,1.958,39.154,35.104,4.052,20
...,...,...,...,...,...,...,...,...,...
226,\n 227,224,\n Martin Trainer\n,34,-2.736,-73.881,-68.004,-5.876,27
227,\n 228,225,\n Satoshi Kodaira\n,31,-2.785,-47.339,-30.435,-16.902,17
228,\n 229,226,\n Michael Kim\n,14,-3.058,-24.467,-20.716,-3.750,8
229,\n 230,227,\n Ryo Ishikawa\n,14,-3.810,-22.860,-11.850,-11.010,6
230,\n 231,228,\n Kevin Stadler\n,20,-4.709,-51.803,-34.656,-17.147,11

In [31]:
df.to_csv('SG-Total.csv', index = False)
print(df,"\n Success")

RANK THIS WEEK RANK LAST WEEK                        PLAYER NAME  ROUNDS  \
0      \n        1     \n             \n    Tyrrell Hatton\n              16
1      \n        2              1       \n    Rory McIlroy\n              24
2      \n        3              2           \n    Jon Rahm\n              20
3      \n        4              8  \n    Bryson DeChambeau\n              26
4      \n        5              3      \n    Justin Thomas\n              28
..             ...            ...                                ...     ...
226  \n        227            224     \n    Martin Trainer\n              34
227  \n        228            225    \n    Satoshi Kodaira\n              31
228  \n        229            226        \n    Michael Kim\n              14
229  \n        230            227       \n    Ryo Ishikawa\n              14
230  \n        231            228      \n    Kevin Stadler\n              20

    AVERAGE TOTAL SG:T TOTAL SG:T2G TOTAL SG:P  MEASURED ROUNDS
0     3.078     24.623       20.846      3.777                8
1     2.537     38.061       35.993      2.068               15
2     2.222     42.225       23.309     18.917               19
3     1.960     50.952       37.036     13.918               26
4     1.958     39.154       35.104      4.052               20
..      ...        ...          ...        ...              ...
226  -2.736    -73.881      -68.004     -5.876               27
227  -2.785    -47.339      -30.435    -16.902               17
228  -3.058    -24.467      -20.716     -3.750                8
229  -3.810    -22.860      -11.850    -11.010                6
230  -4.709    -51.803      -34.656    -17.147               11

[231 rows x 9 columns]
 Success